:root {
    --main-bg-color: #fff;
}

[data-theme="gray"] {
    --main-bg-color: #191919;
}

* {
    transition: all ease 0.2s;
    color: #f58f70;
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
    overflow: hidden;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    position: relative;
    margin-top: 100px;
    text-align: center;
}

#logo:hover {
    opacity: 0.3;
    transform: scale(1.1);
}

@media screen and (max-width:750px) {
    #logo {
        display: none;
    }
}