:root {
	--main-bg-color: #fff;
	--main-text-color: #f58f70;
	--main-sec-color: #37352f;
	--main-border-color: #37352f;
}

[clock-data-theme="dark"] {
	--main-bg-color: #191919;
	--main-text-color: #f58f70;
	--main-sec-color: #fff;
	--main-border-color: #fff;
}

* {
	box-sizing: border-box;
	transition: all ease 0.2s;
	color: var(--main-text-color);
}

body {
	margin: 40px auto 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	background-color: var(--main-bg-color);
	position: relative;
	transition: all ease 0.2s;
	overflow: hidden;
}

.clock {
	min-height: 16em;
	min-width: 16em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-bg-color);
	background-position: center center;
	background-size: cover;
	border-radius: 100%;
	border: 4px solid var(--main-border-color);
	/* box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
		inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
		inset 0 15px 15px rgba(0, 0, 0, 0.3); */
	transition: all ease 0.2s;
}

.clock:before {
	content: "";
	height: 0.75rem;
	width: 0.75rem;
	background-color: var(--main-text-color);
	border: 2px solid var(--main-bg-color);
	position: absolute;
	border-radius: 50%;
	z-index: 1000;
	transition: all ease 0.2s;
}

.hour,
.min,
.sec {
	position: absolute;
	display: flex;
	justify-content: center;
	border-radius: 50%;
}

.hour {
	height: 10em;
	width: 10em;
}

.hour:before {
	content: "";
	position: absolute;
	height: 50%;
	width: 6px;
	background-color: var(--main-text-color);
	border-radius: 6px;
}

.min {
	height: 12em;
	width: 12em;
}

.min:before {
	content: "";
	height: 50%;
	width: 4px;
	background-color: var(--main-text-color);
	border-radius: 4px;
}

.sec {
	height: 13em;
	width: 13em;
}

.sec:before {
	content: "";
	height: 60%;
	width: 2px;
	background-color: var(--main-sec-color);
	border-radius: 2px;
}

#logo {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 40px;
	position: absolute;
	margin-top: 358px;
}

#logo:hover {
	opacity: 0.3;
	transform: scale(1.1);
}

@media screen and (max-width:750px) {
	#logo {
		display: none;
	}
}